@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

:root{
    --main-color:#A2F73D;
    --primary-bg-color:#D6D1D5;
    --secondary-bg-color:#FFFFFF;
    --primary-text-color:#000000;
    --secondary-text-color:#666;
    --secondary-theme-color: #021718;
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none;
    text-decoration: none;
    transition: .3s cubic-bezier(.38,1.15,.7, 1.12);
}


*::selection{
    background-color: var(--main-color);
    color: #fff;
}

html{
    font-size: 62.5%;
    overflow: hidden;
}

html::-webkit-scrollbar{
    width: 1.3rem;
}


html::-webkit-scrollbar-track{
    background-color: var(--secondary-bg-color);
}

html::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

body{
    background: var(--primary-bg-color);
}

body.dark-theme{
    --primary-bg-color:#021718;
    --secondary-bg-color:#17321f;
    --primary-text-color:#fff;
    --secondary-text-color:#eee;
}

section{
    min-height: 100vh;
    padding: 1rem;
    padding: 0 8%;
}

.btn{
    display: inline-block;
    padding: .9rem 3.5rem;
    font-size: 2rem;
    background: none;
    color: #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
    z-index: 0;
    position: relative;
    overflow: hidden;
    border: .2rem solid var(--main-color);
}

.btn::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: .5rem;
    background: var(--main-color);
    height: 85%;
    width: 95%;
    z-index: -1;
    transition: .2s linear;
}

.btn:hover::before{
    top: 100%;
    transform: translate(-50%, 100%);
}

.btn:hover{
    color: var(--primary-text-color);
}

.heading{
    font-size: 5rem;
    color: var(--primary-text-color);
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
}


.heading span{
    color: var(--main-color);
    text-transform: uppercase;
}


#menu{
    font-size: 2rem;
    background: var(--main-color);
    color: #fff;
    border-radius: 5rem;
    height: 5rem;
    width: 5rem;
    text-align: center;
    line-height: 5rem;
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 1000;
    cursor: pointer;
}

#menu.fa-times{
    transform: rotate(-180deg);
}

.navbar{
    position: fixed;
    top: 2.4rem;
    right: 2.5rem;
    padding: 1.1rem 2rem;
    padding-right: 4rem;
    z-index: 999;
    border: .2rem solid var(--main-color);
    border-radius: 1rem;
    background: var(--secondary-bg-color);
    opacity: 0;
    transform-origin: top right;
    transform: scale(0);
}

.navbar.nav-toggle{
    opacity: 1;
    transform: scale(1);
}

.navbar a{
    display: block;
    font-size: 2rem;
    padding: 1rem;
    padding-right: 7rem;
    color: var(--primary-text-color);
}

.navbar a:hover{
    color: var(--main-color);
    transform: translateX(1rem);
}

